body {
    font-family: sans-serif;
}

.bienvenida div{
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F2F5F5;
}

.bienvenida h1{
    padding-left: 5%;
    padding-right: 55%;
}

.bienvenida p{
    padding-left: 5%;
    padding-right: 30%;
    padding-bottom: 5%;
}

.bienvenida button{
    width: 20%;
    color: white;
    background-color: black;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vacio section{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightgray;
}

:root {
  --oscuro: #2e3136;
  --claro: #e9eaed;
  --texto: #222;
  --borde: #444;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: var(--texto);
}

.header {
  width: 100%;
}

.barra-superior {
  background: var(--oscuro);
  height: 32px;
}

.header-caja {
  background: var(--claro);
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 16px 32px;
}

.logo-caja img {
  display: block;
  width: 90px;
  height: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: var(--texto);
  font-size: 18px;
  font-weight: 500;
}

.buscador {
  margin-left: auto;
}

.buscador input {
  width: 260px;
  padding: 10px 12px;
  font-size: 15px;
  border: 2px solid var(--borde);
  border-radius: 6px;
  outline: none;
  background: white;
}

.solo-lectura {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}